## IBM Data Science Capstone Proejct Week 3

#### First import everything

In [45]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans

#### first section

In [46]:
wiki = Canada_M = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(wiki, "lxml")

#create data frame
PostalCode = []
Borough = []
Neighborhood = []

for fields in soup.tbody.find_all('tr')[1:]:
    PostalCode.append(fields.find('td').text)
    Borough.append(fields.find_all('td')[1].text)
    Neighborhood.append(fields.find_all('td')[2].text[:-1])
    

df_data = {"PostalCode": PostalCode,
        "Borough": Borough,
        "Neighborhood": Neighborhood}
df = pd.DataFrame(df_data)

#
df = df[df.Borough != 'Not assigned'].reset_index().drop('index', axis = 1)
df.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

In [51]:
# combine the neighbourhoods with the same zip code
i = 1
while(i < len(df)):
    if df['PostalCode'].iloc[i] == df['PostalCode'].iloc[i - 1]:
        df.at[i - 1, 'Neighborhood'] = df.Neighborhood.iloc[i - 1] +', ' + df.Neighborhood.iloc[i]
        df.drop(index = i, inplace = True)
        df = df.reset_index().drop('index', axis = 1)
    else:
        i += 1
        

df.head(12)

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Harbourfront, Regent Park"
3,M6A,North York,"Lawrence Heights, Lawrence Manor"
4,M7A,Queen's Park,Not assigned
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Rouge, Malvern"
7,M3B,North York,Don Mills North
8,M4B,East York,"Woodbine Gardens, Parkview Hill"
9,M5B,Downtown Toronto,"Ryerson, Garden District"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ..."

In [111]:
df.shape

(103, 5)

## part 2

In [55]:
#read csv abd convert column names
df1 = pd.read_csv("Geospatial_Coordinates.csv") 
df1.rename({'Postal Code': 'PostalCode'}, axis='columns', inplace=True)

In [56]:
df1

    PostalCode   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
5          M1J  43.744734 -79.239476
6          M1K  43.727929 -79.262029
7          M1L  43.711112 -79.284577
8          M1M  43.716316 -79.239476
9          M1N  43.692657 -79.264848
10         M1P  43.757410 -79.273304
11         M1R  43.750072 -79.295849
12         M1S  43.794200 -79.262029
13         M1T  43.781638 -79.304302
14         M1V  43.815252 -79.284577
15         M1W  43.799525 -79.318389
16         M1X  43.836125 -79.205636
17         M2H  43.803762 -79.363452
18         M2J  43.778517 -79.346556
19         M2K  43.786947 -79.385975
20         M2L  43.757490 -79.374714
21         M2M  43.789053 -79.408493
22         M2N  43.770120 -79.408493
23         M2P  43.752758 -79.400049
24         M2R  43.782736 -79.442259
25         M3A  43.753259 -79.329656
26         M3B  43.745906 -79.352188
27         M3C  43.725900 -79.340923
28         M3H  43.754328 -79.442259
29         M3J  43.767980 -79.487262
..         ...        ...        ...
73         M6C  43.693781 -79.428191
74         M6E  43.689026 -79.453512
75         M6G  43.669542 -79.422564
76         M6H  43.669005 -79.442259
77         M6J  43.647927 -79.419750
78         M6K  43.636847 -79.428191
79         M6L  43.713756 -79.490074
80         M6M  43.691116 -79.476013
81         M6N  43.673185 -79.487262
82         M6P  43.661608 -79.464763
83         M6R  43.648960 -79.456325
84         M6S  43.651571 -79.484450
85         M7A  43.662301 -79.389494
86         M7R  43.636966 -79.615819
87         M7Y  43.662744 -79.321558
88         M8V  43.605647 -79.501321
89         M8W  43.602414 -79.543484
90         M8X  43.653654 -79.506944
91         M8Y  43.636258 -79.498509
92         M8Z  43.628841 -79.520999
93         M9A  43.667856 -79.532242
94         M9B  43.650943 -79.554724
95         M9C  43.643515 -79.577201
96         M9L  43.756303 -79.565963
97         M9M  43.724766 -79.532242
98         M9N  43.706876 -79.518188
99         M9P  43.696319 -79.532242
100        M9R  43.688905 -79.554724
101        M9V  43.739416 -79.588437
102        M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [57]:
df = pd.merge(df, df1, on = "PostalCode")

In [58]:
df.head(12)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Not assigned,43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
7,M3B,North York,Don Mills North,43.745906,-79.352188
8,M4B,East York,"Woodbine Gardens, Parkview Hill",43.706397,-79.309937
9,M5B,Downtown Toronto,"Ryerson, Garden District",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724

## Part 3: clustering and segmentation

In [ ]:
import folium

#### this is from the foursquare api class

In [118]:
def getNearbyVenues(names, latitudes, longitudes, radius=500, limit=100, version='20181028'):
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            version, 
            lat, 
            lng, 
            radius, 
            limit)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['PostalCode', 
                             'Venue', 
                             'Venue Latitude', 
                             'Venue Longitude', 
                             'Venue Category']
    
    return(nearby_venues)

In [119]:
nearby_venues_df = getNearbyVenues(names=df.PostalCode, latitudes=df.Latitude, longitudes=df.Longitude) # this is a trimmed down version of df

In [124]:
#find the number of categories in each postal code 
categories = nearby_venues_df.groupby('PostalCode').mean()

#### clustering starts with a cluster number of 3

In [126]:
clusters = 3

kmeans = KMeans(n_clusters=clusters, random_state=5).fit(categories) # reproducability

# check to make sure categories are normal
kmeans.labels_[0:20]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1])

In [130]:

clusters = pd.DataFrame({'PostalCode': categories.index, 
                         'Cluster': kmeans.labels_})
clusters.head(100)

   PostalCode  Cluster
0         M1B        0
1         M1C        0
2         M1E        0
3         M1G        0
4         M1H        0
5         M1J        0
6         M1K        0
7         M1L        0
8         M1M        0
9         M1N        0
10        M1P        0
11        M1R        0
12        M1S        0
13        M1T        0
14        M1V        0
15        M1W        0
16        M2H        0
17        M2J        0
18        M2K        1
19        M2L        1
20        M2N        1
21        M2P        1
22        M2R        1
23        M3A        0
24        M3B        0
25        M3C        1
26        M3H        1
27        M3J        2
28        M3K        2
29        M3L        2
..        ...      ...
70        M6B        1
71        M6C        1
72        M6E        1
73        M6G        1
74        M6H        1
75        M6J        1
76        M6K        1
77        M6L        2
78        M6M        2
79        M6N        2
80        M6P        2
81        M6R        1
82        M6S        2
83        M7A        1
84        M7R        2
85        M7Y        1
86        M8V        2
87        M8W        2
88        M8X        2
89        M8Y        2
90        M8Z        2
91        M9B        2
92        M9C        2
93        M9L        2
94        M9M        2
95        M9N        2
96        M9P        2
97        M9R        2
98        M9V        2
99        M9W        2

[100 rows x 2 columns]

#### seems many of them fall into three categoeies pretty evenly

In [135]:
df = pd.merge(left=df, right=clusters, on='PostalCode')
nearby_venues_df = nearby_venues_df.merge(on='PostalCode', right=clusters)

#### generate maps with different colors representing different clusters

In [132]:

def make_map(df, label_col='PostalCode'):
    latitude, longitude = 43.7, -79.4 # Toronto coordinates

    # create map
    map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

    # set color scheme for the clusters
    x = np.arange(df.Cluster.nunique())
    ys = [i+x+(i*x)**2 for i in range(kclusters)]
    colors_array = cm.Set1(np.linspace(0, 1, len(ys)))
    rainbow = [colors.rgb2hex(i) for i in colors_array]

    # add markers to the map
    markers_colors = []
    for lat, lon, poi, cluster in zip(df['Latitude'], df['Longitude'], df[label_col], df['Cluster']):
        label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
        folium.CircleMarker(
            [lat, lon],
            radius=5,
            popup=label,
            color=rainbow[cluster-1],
            fill=True,
            fill_color=rainbow[cluster-1],
            fill_opacity=0.5).add_to(map_clusters)
    
    return map_clusters

In [ ]:
make_map(df)

#### list the categories of businesses in each cluster

In [136]:
def cluster_summery(df, top=10):
    for i in range(df.Cluster.nunique()):
        data_slice = df.loc[df.Cluster == i]
        summery = data_slice.groupby('Venue Category').count().sort_values(by='Cluster', ascending=False)
        print(f'Cluster #{i} summery:')
        print(summery.iloc[0:top, 1:2], '\n')

In [137]:
cluster_summery(nearby_venues_df, top=10)

Cluster #0 summery:
                      Venue
Venue Category
Fast Food Restaurant     13
Coffee Shop              10
Pizza Place               7
Clothing Store            7
Bakery                    6
Breakfast Spot            5
Chinese Restaurant        5
Skating Rink              4
Park                      4
Pharmacy                  4

Cluster #1 summery:
                     Venue
Venue Category
Coffee Shop            178
Café                    98
Restaurant              57
Hotel                   44
Italian Restaurant      44
Park                    39
Bar                     38
Japanese Restaurant     37
Bakery                  35
Pizza Place             35

Cluster #2 summery:
                      Venue
Venue Category
Pizza Place              12
Coffee Shop              12
Sandwich Place            9
Café                      7
Grocery Store             7
Park                      7
Fast Food Restaurant      6
Fried Chicken Joint       5
Pharmacy                  5
Gym                       4

#### from the result above, we can see that cluster #1 is the most popular area
#### conslusion: cluster #1 is the downtown area, with more merchants and lots of restaurants. #0 and #2 are suburban area with sparsly populated merchants, the ideal number of cluster should be 2